*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

.whole{
    padding: 0 1.5rem 0 1.5rem;
}

body{
    background-color:whitesmoke;
}
.part1{
    gap:1rem;
    padding: 0 2.5rem 1rem 2.5rem;
}

.part2{
    padding: 1.5rem 1.5rem 0 1.5rem;
}
.part1, .part2{
    display:flex;
    flex-basis: 100%;
    justify-content:space-between;
    align-items: center;
}
.para21, .para22, .para23{
    padding:0rem 2rem 2rem 2rem;
    background-color:white;
    border: 2px whitesmoke solid;
}

h1{
    text-align: center;
    font-size:x-large;
    font-weight:bolder;
    padding:2rem 0 0.1rem 0;
    color:rgb(3, 3, 3);
}

.part1 h1{
    text-align: justify;
    font-size:50px;
    font-weight: bolder;
}

.part1 h2, .part2 h2{
    font-size:large;
    font-weight: bold;
    color:rgb(245, 17, 104);
    padding-bottom:0.5rem;

}

.part2 h2{
    font-size:1.6em;
}
.part1 p{
    font-size:small;
    
}

.part1 h3{
    margin-top:1.75rem;
    font-size:small;
}

.part2 h1{
    padding-bottom:1rem;
    text-align:justify;
    font-size:smaller;
    font-weight:lighter;
}

.part2 p{
    font-size:small;
    
}

.part2 button{
    margin-top:1.25rem;
    padding:0.2rem;
    font-size:medium;
    background-color:white;
}

.line1{
    margin-top:1rem;
    border:0.2rem solid rgb(226, 226, 226);
    border-radius:5px;
}

.line2{
    margin:1.5rem 0 0 49%;
    border: 0.1rem solid rgb(223, 36, 107);
    width:2rem;
    border-radius:5px;
}

#more{
    padding:0.75rem;
    background-color:rgb(247, 18, 111);
    color:whitesmoke;
    font-weight:bolder;
    margin:1rem 0 0.5rem 45%;
    border:none;
}

/* .part2 section{
    box-shadow:0 0 1.5rem 0.1rem black;
} */