.login{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.login :not(h1, button){
    padding-left:35%;
    border-color:rgb(10, 50, 255);
}

.login h1{
    text-align:center;
    padding:1rem 0 1.5rem 0;
    border-color:rgb(10, 50, 255);
}

.login button{
    font-size:medium;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    background:white;
    padding:0.4rem 2rem 0.4rem 2rem;
    margin:1.2rem 0 0 9rem;
    border-color:rgb(255, 0, 0);
}

.login input, select{
    margin-bottom:1rem;
    padding:0.8rem;
    border-radius:0.4rem;
}

.login input:nth-child(1){
    border-bottom-left-radius:25px;
}

.login input:nth-child(2){
    border-bottom-right-radius:25px;

}

input:nth-child(2), :nth-child(7), :nth-child(12){
    margin-left:1rem;
}

.login button:hover{
    background-color:black;
    color:white;    
    border-color:black;
    transition-delay:ease-in(1s);
    transition-delay:ease-out(1s);
}